.toolbarBox {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px 0;
}
#myTable .center {
    text-align: center !important;
}
.toolbarBox .pageTitle {
    line-height: 48px;
    margin-left: 10px;
	display: inline-block;
}
.toolbarBox .pageTitle h3 {
    font-size: 2em;
    font-weight: normal;
    line-height: 52px;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
.toolbarBox ul.cc_button {
    float: right;
    margin: 0 5px 0 0;
    padding: 0;
}
.toolbarBox ul.cc_button li {
    color: #666666;
    float: left;
    height: 48px;
    list-style: none outside none;
    padding: 1px 1px 3px 4px;
    text-align: center;
}
.toolbarBox a.toolbar_btn {
    border: 1px solid #F8F8F8;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    min-width: 50px;
    padding: 3px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
	text-decoration:none;
}
.toolbarBox a.toolbar_btn:hover {
    background-color: #FFFFFF;
    border: 1px inset #CCCCCC;
    border-radius: 3px;
}
.toolbarBox .toolbar_btn span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}
.toolbarBox .process-icon-new, .toolbarBox .toolbar-new {
    background-image: url("process-icon-new.png");
}
#attribute_group{
	height: auto;
	max-height: 300px;
	overflow:scroll; 
	margin-bottom: 10px; 
	width: 100%;
	background: none repeat scroll 0 0 #FFFFFF;
}
#attribute_group select optgroup {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    padding: 2px;
}
#attribute_group select optgroup option {
    color: #000000;
    padding: 0 9px;
}
/*.button_v {
    background: -moz-linear-gradient(center top , #f9f9f9, #e3e3e3) repeat scroll 0 0 transparent;
    border-color: #cccccc #bbbbbb #a0a0a0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: pointer;
    margin: 0;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    white-space: nowrap;
}
.button_v:hover {
    border: 1px solid #939393;
}*/
.var-tr input {
    text-align: center;
    width: 100%;
}
.active-tr input {
    border: 1px solid #008000;
	box-shadow: 1px 1px 3px -2px #000000;
}
#msg-show {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    height: 46px;
    margin-top: -47px;
    position: absolute;
    width: 97%;
	text-align: center;
}
#msg-show > td{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    text-align: center;
    width: 920px;
}
.pointer {
    cursor: pointer;
}